@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  color: white;
}

.main-container {
    background-color: rgba(0, 0, 0, 0.9);
}

/*Header and navigator*/

nav {
  display: flex;
  height: 8vh;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: center;
  margin-right: 5vw;
}

.navigator li {
  list-style: none;
  text-decoration: none;
  margin-left: 4vw;
}

.logo {
  margin-left: 5vw;
  padding: 0 10px;
  border: 3px solid #bde038;
}

.logo a {
    letter-spacing: 5px;
    color: #506266;

}

.navigator li a {
    position: relative;
    letter-spacing: 2px;
    color: black;
    padding: 0 10px;
}

.navigator li a:hover {
    color: #bde038;
}

.navigator li a:active {
    color: white;
}

.navigator li a::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #bde038;
    left: 0;
    bottom: -5px;
    transition: all 0.3s;
}

.navigator li a:hover::after {
    width: 100%;
}

.logo a,
.navigator li a {
  text-decoration: none;
}

header {
  height: 95vh;
  background-image: url("../imgs/background-min.jpg");
  background-size: cover;
  background-position: center;
}

/* First get started*/

.slogan {
    margin-left: 5vw;
    margin-top: 20vh;
}

.slogan h2,.slogan h3 {
    color: white;
    max-width: fit-content;
    padding: 0.75vh 2vw;
    font-weight: normal;
}

.slogan h2{
    background-color: #bde038;
    font-size: 5rem;
}

.slogan h3 {
    background-color: #10454f;
    font-size: 2rem;
    margin-bottom: 50px;
}

.get-started , .slogan a{
    background-color: #bde038;
    color: #10454f;
    text-decoration: none;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 10px;
    transition: all 0.3s;
    border: none;
}

.get-started:hover {
    transform: scale(1.25);
    filter: brightness(2);
}

/*Weeks day specials*/

.yoga, .spinning, .happy {
    height: 65vh;
    display: flex;
    margin-top: 20vh;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: space-between;
}


section article p {
    text-align: justify;
    width: 70%;
    font-weight: 100;
    font-size: 1.2rem;
}

section .primary-img {
    height: 65vh;
}

section .secondary-img {
    height: 45vh;
}

.ilustrations {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 2.5vw;
    height: 100%;
}

.ilustrations img {
}

section article {
    width: 60%;
}

section h2 {
    font-weight: 200;
    font-size: 2rem;
    color: white;
}

section h2 span {
    color: #bde038;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a.secondary {
    font-size: 1.5rem;
    align-self: flex-start;
    margin: 0;
    padding: 0.25em 1em;
}

section.yoga article {
    margin-left: 20vh;
}

section.yoga article p{
    width: 100%;
}